{% extends "base.html" %}
{% block "interaction" %}
<div class="flex flex-col h-full">
    <div class="container text-center mt-5 flex-1 flex flex-col">
        <div>
            <h1 class="text-xl sm:text-xl md:text-xl font-semibold tracking-tight text-gray-900 mb-4">What is this?</h1>
            
            <p class="lead mb-5 px-8 sm:px-16 md:px-24" style="max-width: 800px; margin: 0 auto;">
                oUPS lets you send a letter directly to someone's pigeonhole.
                Volunteer delivery people (pigeons) will print and deliver your message.<br>
                This is just for fun and totally free :)
            </p>

            <div class="grid grid-cols-1 md:grid-cols-2 max-w-2xl mx-auto">
                <div>
                    <h1 class="text-xl sm:text-xl md:text-xl font-semibold tracking-tight text-gray-900 mt-4">Ideas for what to send</h1>

                    <p class="lead mb-5 px-8 sm:px-16 md:px-24" style="max-width: 800px; margin: 0 auto;">
                        <ul class="list-disc list-inside mt-2 space-y-1">
                            <li>Say hi to your homie</li>
                            <li>Send a letter to your crush &lt;3</li>
                            <li>Send out party invites</li>
                            <li>Play correspondence chess</li>
                        </ul>
                    </p>
                </div>

                <div>
                    <h1 class="text-xl sm:text-xl md:text-xl font-semibold tracking-tight text-gray-900 mt-4">Why would I volunteer?</h1>

                    <p class="lead mb-5 px-8 sm:px-16 md:px-24" style="max-width: 800px; margin: 0 auto;">
                        <ul class="list-disc list-inside mt-2 space-y-1">
                            <li>Explore all the Oxford colleges</li>
                            <li>Get all the tea</li>
                            <li>Get a free oUPS t-shirt (maybe)</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="mt-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 max-w-2xl mx-auto gap-4 pb-5">
                <div class="flex justify-center">
                    <a href="/send">
                        <button type="button" class="bg-green-600 hover:bg-green-700 text-white font-semibold text-lg sm:text-sm py-3 px-6 rounded-lg shadow-md transition-colors duration-200">
                            Send letter
                        </button>
                    </a>
                </div>
                <div class="flex justify-center">
                    <a href="/deliver">
                        <button type="button" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold text-lg sm:text-sm py-3 px-6 rounded-lg shadow-md transition-colors duration-200">
                            Deliver mail
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
